[2020-05-12 09:30] Mr-emeka opened #7 "add country code to retrieving country flags"
### Response should be in this format
[code]

[2020-05-12 12:15] #7 closed

[2020-05-21 11:40] alexgarciab opened #9 "Would it be possible to add a "top 5 cities" or filtering by population?"
Would it be possible to add a top 5 cities (per country) endpoint to be able to retrieve the most populated cities? Or even better, add a filter to get only the cities with more than X number of people. Thanks

[2020-05-23 17:31] MartinsOnuoha commented on #9
@alexgarciab Alright, let's have this as an open issue, our likely options would be to carry out a data collection, or use a realtime API, because of the volatile nature of those figures.
- if we collected the data, we might soon enough have out of date figures and would have to update them manually.
Using a 3rd party API would be our best bet.

[2020-05-23 17:36] alexgarciab commented on #9
This one is a good one: https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.country - We are going to use it

[2020-06-03 18:23] iambenkay opened #11 ""error" field in JSON response"
Good day. Nice work you're doing here. I was going through the documentation and I noticed you add the `error` field to every JSON response. I want to know why exactly. because I assume that errors can be conveyed with appropriate error codes (status codes greater than or equal to 400). I believe that is the semantic use of those status codes. Is there a special reason you set the error field?

[2020-06-03 18:52] iambenkay opened #12 "Issue with Uppercase countries"
This is small but I think it would make the experience better. In the docs where we get country position by name, where we send a POST Request to /api/v1.0/countries/positions with the `country` parameter in the body, I noticed that you capitalized it but in reality it doesn't return any data. I also tried with non-existent country names and it kept returning the same strings. For a moment there I

[2020-06-04 06:16] MartinsOnuoha commented on #11
@iambenkay Thanks for the observation. Yeah, there's a reason, simplicity really. Per the `JSON:API` specification, dealing with errors would require the using the `Error` Object property that would returns an array of error objects containing the `status`,  `code` and `detail` fields, this would be the ideal design for REST apis like this one, however, for simplicity instead of having the entire

[2020-06-04 06:17] MartinsOnuoha commented on #12
@iambenkay Thanks for pointing out this issue, feel free to send in a PR, we'll review  and merge ASAP

[2020-06-04 12:52] iambenkay commented on #11
Alright. thanks for clearing that up

[2020-06-04 13:54] iambenkay commented on #11
I'll be closing this issue now

[2020-06-04 14:53] MartinsOnuoha commented on #11
You won't have to stress about closing it manually, once we merge the related PR, it'll be closed automatically 🎉

[2020-06-04 14:53] #11 closed

[2020-06-04 22:04] #12 closed

[2020-06-09 22:53] Mr-emeka opened #15 "Add image to get currency and country endpoint."
{
  "error": false,
  "msg": "countries and currencies retrieved",
  "data": [
    {
      "name": "Bangladesh",
      "currency": "BDT",
       "img": imgurl
    }
}

[2020-06-10 00:31] iambenkay commented on #15
What do you want an image of?

the country's flag? there is already an endpoint that provides the character code for the flag of each country if that will help out.

[2020-06-10 01:03] iambenkay commented on #15
Great feature suggestion @Mr-emeka
Country unicode flags and SVG flags are already available in the data store.
@MartinsOnuoha I could get to work on this if you don't mind.

[2020-06-10 09:06] MartinsOnuoha commented on #15
@iambenkay
Sure, you can create a separate endpoint for this or update the any of the existing endpoints, also be sure to update the response structure in the API documentation, thanks 🔥

[2020-06-10 10:25] MartinsOnuoha commented on #9
Hey @alexgarciab
I resolved to use the datahub API. `https://datahub.io/core/population`, I'll make a PR later today.

[2020-06-10 10:47] alexgarciab commented on #9
Did you manage to get population per city or just per country?

[2020-06-12 23:16] MartinsOnuoha commented on #9
@alexgarciab a PR has been created for this issue, feel free to have a look.

[2020-06-13 07:58] #9 closed

[2020-09-06 05:01] MartinsOnuoha opened #24 "Svg images returns 404."
- For the countries and flag images endpoint, some of the images return 404
   - Flag of Honduras
   - Flag of British Indian Ocean Territory
   - Flag of Guadeloupe
   - Flag of Heard Island and McDonald Islands
   - Flag of Honduras
   - Flag of Martinique
   - Flag of New Caledonia
   - Flag of Swaziland

[2020-09-09 08:15] MartinsOnuoha opened #26 "Country: "Anguilla" Not Found"
- querying the `/cities` endpoint, with `{ country: "Anguilla" }` returns `404`
- Looking through the response from the `/cities` endpoint, the country "Anguilla" doesn't exist
- This is basically another missing data issue
- This can be resolved if we have all the cities under Anguilla
- Ref: http://www.fallingrain.com/world/AV/

[2020-09-16 15:13] MartinsOnuoha opened #28 "chore(tests): write tests"

[2020-09-16 18:46] #28 closed

[2020-09-30 04:35] MartinsOnuoha commented on #26
In the spirit of Hacktoberfest kicking off tomorrow, I'm adding the "Hacktoberfest" label so participants can contribute to CountriesNow and bag Hacktoberfest swags. 🎉

[2020-09-30 04:38] MartinsOnuoha commented on #24
To resolve this issue, we'd need to get the updated URL for these flags images from Wikipedia and replace them with the existing URL for the `/countries/flags` JSON data.

[2020-10-01 15:28] FladioArmandika commented on #26
Can I contribute here??

[2020-10-01 15:42] Mr-emeka commented on #24
Would definitely Love to work on this.

[2020-10-01 15:46] MartinsOnuoha commented on #24
@Mr-emeka Great!, be sure to check out the contribution guide. [Here](https://github.com/MartinsOnuoha/countriesNowAPI/blob/master/docs/contributing.md)

[2020-10-01 21:15] MartinsOnuoha commented on #24
@

@Mr-emeka So I looked up Heard Island and McDonald Islands and the location has been Uninhabited since 2011 due to its heavy volcanic activities and barren Antarctic islands thus they do not have flags. So it's okay to omit them

[2020-10-01 22:16] #24 closed

[2020-10-02 03:51] #26 closed

[2020-10-02 15:45] MartinsOnuoha opened #36 "Add endpoint to get a random country on request."
## Requirement
- add a new `/random` endpoint that returns a random country object on request.
- It is not yet clear what details of the country would be needed, but the basics for now.
   - name
   - iso2/3
   - dial code

[2020-10-02 15:47] deepank120896 commented on #36
@MartinsOnuoha I would like to work on this

[2020-10-02 15:49] ryzbaka commented on #36
I can work on this feature.

[2020-10-02 16:36] ryzbaka commented on #36
I have created a PR in response to this issue : https://github.com/MartinsOnuoha/countriesNowAPI/pull/37

[2020-10-02 16:47] MartinsOnuoha opened #38 "add endpoint to get cities within a state."
Within the `./model/countriesStateCity.js` Files you'll find countries, their respective states, and cities within that state.

The goal is to be able to get all the cities within a state.
For example, given this data:
[code]
----------

 We need to be able to get the cities within "Badakhshan" by sending a `POST` request to the `/state/cities` endpoint with this payload:
[code]

[2020-10-02 16:48] MartinsOnuoha commented on #36
@deepank120896 @ryzbaka
Please be sure to go through the contribution guideline.  [here](https://github.com/MartinsOnuoha/countriesNowAPI/blob/master/docs/contributing.md)

Great! I'll be assigning this issue to @deepank120896
@ryzbaka there's another issue [here](https://github.com/MartinsOnuoha/countriesNowAPI/issues/38), would you like to work on it?

[2020-10-02 17:13] anuragphadnis commented on #38
I beleive that using get endpoints for fetching data would be better. I would suggest an end point like this.
`GET /country/{name}/state/{name}/cities`
Let me know your thoughts.

[2020-10-02 17:42] PaulEvans8669 commented on #38
Hello @MartinsOnuoha. Can I work on this?
According to your example, is this what you want the route to return?
[code]

Thank you.

[2020-10-02 19:33] xarrijorge commented on #36
Is this still opened? If not, I would like to take a shot at it.

[2020-10-03 02:52] MartinsOnuoha commented on #38
@anuragphadnis  This endpoint format `GET /country/{name}/state/{name}/cities` would have been ideal if we were using IDs for the countries and the states, In that case, we'd make a GET request to `/country/{id}/state/{id}/cities`, however, we're not using this format because of the inconsistency of the data we have and they don't have IDs.

Yes, you're right, adding the country to the payload doe

[2020-10-03 03:47] MartinsOnuoha commented on #38
@PaulEvans8669 Sure, the response from this endpoint would look something like this.

[code]

[2020-10-03 04:34] MartinsOnuoha commented on #36
@deepank120896 @ryzbaka

@xarrijorge this issue is closed now, @ryzbaka raised a PR for it

[2020-10-03 05:15] #36 closed

[2020-10-03 08:50] anuragphadnis commented on #38
Okay, @MartinsOnuoha. I would like to work on it, I will use payload with both country and state. Is it fine?

[2020-10-03 10:24] PaulEvans8669 commented on #38
Hi again @MartinsOnuoha, issue is very clear and I'd highly appreciate working on this.

[2020-10-03 11:22] anuragphadnis commented on #38
@MartinsOnuoha
I have created a PR for this issue #40, kindly review the changes.

[2020-10-04 00:56] MartinsOnuoha commented on #38
Hey, @anuragphadnis I checked your PR the builds are failing, I think it has to do with the tests.

[2020-10-05 11:39] johnexzy commented on #38
I missed it.

[2020-10-06 04:44] #38 closed

[2020-10-14 07:07] johnexzy opened #42 "Inconsistent "state" suffix in states"
When sending a POST request to `/state/cities`, the payload looks like
[code]
But not all states have the "state" suffix. In other words, payload such as
[code]
 returns 404

[2020-10-14 22:57] MartinsOnuoha commented on #42
@johnexzy Thanks for spotting this, would you be able to raise a PR for this issue?

[2020-10-16 09:28] #42 closed

[2021-02-04 22:07] fcpauldiaz opened #46 "Question"
is there a way to get 2 iso country code instead of 3 ?

[2021-02-04 22:44] iambenkay commented on #46
Could you explain more what you mean?

[2021-02-04 23:29] fcpauldiaz commented on #46
api returns iso3 country code. like USA, but can it be configured to return iso2 like US?

[2021-02-06 03:17] MartinsOnuoha commented on #46
@fcpauldiaz
Currently, there are endpoints you can use to get iso2 and iso3 of any country.
For instance, sending a `GET` to `https://countriesnow.space/api/v0.1/countries/iso` would return a response like this:
[code]
Here you have a list of all the countries and their iso2 and iso3 codes. If you need a single country, just change the request type to `POST` using the same endpoint `https://countr

[2021-02-25 05:27] fcpauldiaz commented on #46
Yes, thanks!

[2021-02-25 05:27] #46 closed

[2021-03-19 23:47] Kenan-Hussein opened #48 "some countries has no cites"
Using https://countriesnow.space/api/v0.1/countries/positions
return some countries **name** in a different way when using this :
https://countriesnow.space/api/v0.1/countries/info?returns=name

**Example:**
/positions response: syria as "Syrian Arab Republic"
/info?returns=name response: "Syria"

Using "Syrian Arab Republic" as post request to get its cities return nothing, but when using "Syria"

[2021-03-21 05:29] MartinsOnuoha commented on #48
Hi, @Kenan-Hussein I think I understand your issues, this is happening because of the difference in the data source, do you think you can help identify any other country with this problem?

[2021-03-24 21:21] Kenan-Hussein commented on #48
@MartinsOnuoha Well.. that took some time but glad to help

Here is your list:

Syrian Arab Republic
Brunei Darussalam
British Indian Ocean Territory
Bouvet Island
Cape Verde
Christmas Island
Cocos (Keeling) Islands
Cook Islands
Falkland Islands (Malvinas)
French Guiana
Gibraltar
Guernsey
Heard Island and McDonald Islands
Holy See (Vatican City State)
Jersey
Lao People's Democratic Republic
Macao

[2021-03-29 01:28] MartinsOnuoha commented on #48
Thanks a lot @Kenan-Hussein , I'll get to work on fixing up these data, and raise a PR for it

[2021-05-28 01:58] Kenan-Hussein commented on #48
still not working can you please fix Syrian Arab Republic at less please

[2021-05-28 09:09] MartinsOnuoha commented on #48
Hey @Kenan-Hussein apologies, I've been trying to validate some of these countries and making sure their names haven't changed, yet, expect a fix today.

[2021-05-30 14:43] MartinsOnuoha commented on #48
@Kenan-Hussein
Some of these places with the issue are mostly archipelagos and less populated areas and have no cities, so you might still get an empty array for those requests, but the "Not found error" and other issues related to the listed countries should be resolved now.

[2021-05-30 15:04] #48 closed

[2021-08-30 07:30] Zeus3hd opened #63 "[bug][missing data] The Netherlands result in an internal server error"
Hello

I'm facing issues with `The Netherlands`.

these endpoints return `404 country not found`

POST `https://countriesnow.space/api/v0.1/countries/cities`

[code]

I've tried different variations of the country's name in addition to its informal name `holland` with different casing.

it's either 404 not found or internal server error.

[2021-08-30 10:13] MartinsOnuoha commented on #63
Hi @Zeus3hd, I just checked and noticed this issue, I'm raising a fix for it right now.

[2021-08-30 11:06] #63 closed

[2021-08-31 10:19] CountriesFix opened #65 "Incorrect states"
Hi,

The following states are in the wrong location.
- Bonaire
- Saba
- Sint Eustatius

They currently fall under **The Netherlands (NL)**, but they're supposed to be under **Netherlands Antilles (AN)**.

Tried pushing and doing a pull request, but I'm receiving some errors.
Needs to be corrected in the following files.

`countriesStateCity.js` and `countriesAndState.js`

[2021-09-03 10:32] peter81git commented on #65
Also Chicago is present as being part of Mexico.

[2021-09-03 16:54] MartinsOnuoha commented on #65
Hey @CountriesFix what challenges did you face when trying to raise a PR?

[2021-09-03 16:54] MartinsOnuoha commented on #65
@peter81git do you think you can raise a PR for that?

[2021-09-06 16:30] peter81git opened #67 "Some cities are duplicated"
A small list of some of the cities with duplicate entries.

* Adamstown: 4,
* Albany: 15,
*  Alberton: 5,
* Albion: 12,
*  Alexandra: 2,
*  Alexandria: 16,
* Alma: 12,
*  Alpine: 8,
*  Altona: 3,
*  Annandale: 4,
*  Ararat: 3,
*  Arcadia: 15,
*  Armadale: 3,
*  Ascot: 2,
*  Ashburton: 2,
*  Ashfield: 3,
*  Ashton: 7,
*  Atherton: 3,
*  Auburn: 17,
*  Augusta: 12,
*  Avalon: 5,

As soon as I have t

[2021-09-15 21:13] patricksebastien opened #68 "Duplicate city IDs in countriesStateCity.js"
[code]

Also City IDs:

- 77028
- 77123
- 72123

Please advice.

[2021-09-18 07:42] MartinsOnuoha commented on #68
Hi @patricksebastien Thanks for raising this issue, Ideally I wouldn't advise using the IDs to query since we haven't currently found a way to make the data relational (yet). And the other provided data aren't using unique identifiers.

As for those cities with duplicate IDs in `French Guiana` I have made a fix for it. and would merge in a bit.

While for the duplicate city IDs. You would notice t

[2021-09-18 10:19] #67 closed

[2021-09-18 10:19] #68 closed

[2021-09-18 13:12] #65 closed

[2021-09-23 15:25] dawidkasz opened #72 "Endpoint doesn't work"
Hi,
This endpoint: https://countriesnow.space/api/v0.1/countries/population/filter
returns an internal server error when queried with
{"country": "United Kingdom"} data.

[2021-09-28 09:44] MartinsOnuoha commented on #72
Hello, @dawidkasz, This isn't the correct payload to use for this endpoint. Please see [here](https://documenter.getpostman.com/view/1134062/T1LJjU52) for the correct usage.
The Postman collection should guide you on how to use the population endpoint.

<img width="471" alt="CleanShot 2021-09-28 at 10 44 01@2x" src="https://user-images.githubusercontent.com/29035007/135063884-ef3886c8-7ada-4fe1-a1

[2021-09-28 09:44] #72 closed

[2021-10-14 11:56] MartinsOnuoha opened #76 "(JS-0097) Found unnecessary escape characters"
## Description
Escaping non-special characters in strings, template literals, and regular expressions doesn&#x27;t have any effect.

## Occurrences
There are 366 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/MartinsOnuoha/countriesNowAPI/issue/JS-0097/occurrences/](https://deepsource.io/gh/MartinsOnuoha/countriesNowAPI/issue/JS-0097/occurr

[2021-10-14 20:37] MartinsOnuoha opened #77 "(JS-0128) Should not have unused variables"
## Description
Found variables that are declared but not used anywhere.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/MartinsOnuoha/countriesNowAPI/issue/JS-0128/occurrences/](https://deepsource.io/gh/MartinsOnuoha/countriesNowAPI/issue/JS-0128/occurrences/)

[2021-10-14 20:50] #77 closed, assigned to nobody

[2021-10-14 21:23] #76 closed

[2021-12-06 21:03] oberek opened #80 "Where is the data being sourced from?"
Hello!
First of all, thank you so much for this API! It's very useful 🥇
Second of all, where are you sourcing your city information from? I'm assuming that it's census records, but I'm genuinely curious.

[2021-12-07 10:56] MartinsOnuoha commented on #80
Hi 👋 , So currently the data is aggregated from the [file system ](https://github.com/MartinsOnuoha/countriesNowAPI/tree/master/model) and [datahub](https://github.com/MartinsOnuoha/countriesNowAPI/blob/master/controllers/dataHub/index.js), datahub mostly provides the census related data, however, the response from data hub isn't the easier to work with, which is where countries now come in the cl

[2021-12-08 02:47] henryhuangh opened #81 "Some countries inconsistent and missing"
Data retrieved from endpoints inconsistent, this can lead to conflicts and inability to retrieve data across endpoints. If a country is retrieved from `/countries/positions`, that same country should be valid to retrieve data from `/countries/cities`

For instance in the endpoint
`/countries/positions`
**South Korea** is referred to as **Korea, Republic of**

`/countries`
**South Korea** becomes *

[2021-12-08 18:10] SaraShoukry opened #82 "Multilangual names"
Thanks for the great work
Can you guide me to create an Arabic version for this?

[2021-12-09 00:27] icopp opened #83 "Feature request: Country code as param"
Currently the country name is required, but preferred country names can be inconsistent (for example, see "Viet Nam" vs "Vietnam"). It would be useful to instead allow one of either `country`, `countryCode` (an alias for `countryCodeIso2`), `countryCodeIso2`, or `countryCodeIso3`.

[2021-12-09 09:59] MartinsOnuoha commented on #82
Hi @SaraShoukry, Sure I can do that.
Which part of the API would you like to translate? The documentation? or the responses?

[2021-12-09 10:03] MartinsOnuoha commented on #81
Hi Henry, thanks for pointing this out, yes this is something we're making fixes for since we're aggregating data from multiple data sources to make sure we have as much data as possible.

would you like to look into creating a fix for this, or, can you help identify other countries with the same issue? and I'll raise a fix for this

[2021-12-09 10:06] SaraShoukry commented on #82
@MartinsOnuoha  The countries, states & cities

[2021-12-09 17:46] MartinsOnuoha commented on #83
Hi @icopp, this makes a lot of sense, If I understand you correctly: since we are aggregating data from multiple data sources there are chances of having variations in the naming, and the best possible solution for this would be to make the country name optional and provide another query param that a little more consistent like the `Iso` or `Iso3`

[2021-12-09 18:33] icopp commented on #83
Yes, exactly.

[2021-12-10 02:39] henryhuangh commented on #81
Hi Martins, It would be great if you can look into creating a fix and I can be a second pair of eyes. Unfortunately I cannot work on a fix directly as I am tied with other developments for my company. But I can certainly be your second pair of eyes.

Also, I found 2 Botwanas in `countriesAndCities.js`.

[2021-12-10 07:27] MartinsOnuoha commented on #83
Sounds great, which endpoints would you suggest we add this feature to?

[2021-12-10 20:54] MartinsOnuoha commented on #82
Hi @SaraShoukry , alright, can you show a sample of what the arabic response would look like?
For example. This is the English response for a single country and a flag:

[code]

can you show me what an arabic version of this would look like?

[2021-12-15 00:47] MartinsOnuoha commented on #81
Hi @henryhuangh, be rest assured that I'm working on a fix for as much as I can find.

[2021-12-15 23:32] MartinsOnuoha commented on #83
@icopp Have a look at the open MR, looks good?

[2021-12-15 23:32] MartinsOnuoha commented on #81
@henryhuangh have a look at the linked MR, let me know if it looks good.

[2021-12-17 11:16] #80 closed

[2022-01-03 02:36] icopp commented on #83
Sorry about the delay, but the gist there all looks good to me.

[2022-01-03 09:13] MartinsOnuoha commented on #83
Great thanks

[2022-01-03 09:13] #81 closed

[2022-01-03 09:13] #83 closed

[2022-01-30 11:31] vijaynk18 commented on #82
@SaraShoukry Can you please provide the response in Arabic so that we can close this issue?

[2022-02-18 00:45] redesigned opened #88 "Is the API down? Thanks!"
https://countriesnow.space/api/v0.1/countries/states

![Screenshot 2022-02-17 164451](https://user-images.githubusercontent.com/351192/154595989-2e89558c-cf48-460d-95df-dcb3dc031cdd.jpg)

[2022-02-18 04:21] MartinsOnuoha commented on #88
Hi, sorry about this, it's not down, you can check the endpoint again.

[2022-02-21 15:17] xXAvoraXx commented on #88
same question

[2022-02-21 16:32] thomascjenks commented on #88
The endpoint seems to be broken again.

![image](https://user-images.githubusercontent.com/100152067/154995048-c2c46836-f13c-431f-8133-02ecb1909948.png)

[2022-02-23 09:01] MartinsOnuoha commented on #88
@thomascjenks @xXAvoraXx  can you give a bit more detail how you got the error?

[2022-02-23 10:59] xXAvoraXx commented on #88
problem fixed.

[2022-02-24 21:19] TimAagaard commented on #88
@MartinsOnuoha Same error is still happening today.  Was happening intermittently the last few days as well.

https://countriesnow.space/ shows "Application Error" from above responses.

Trying to hit the endpoints results in an HTTP 503 error code

[2022-02-25 07:46] MartinsOnuoha commented on #88
Hey guys, @TimAagaard , @xXAvoraXx @redesigned  the API itself is fine. I believe someone might be using it wrongly and perhaps making heavy requests or had an infinite loop bug that caused multiple requests for about 30 minutes. Then everything came back up.
I'd set up another monitoring tool (might be expensive) to pick out the faulting source IP or client. and blacklist it.

<img width="347" al

[2022-02-28 15:34] nataliiaprecoro commented on #88
It's still down. The issue can not be resolved.

[2022-02-28 15:59] MartinsOnuoha commented on #88
It's back up now, there's an underlying problem, and it has to do with the fact that we run on heroku's free dyno, and some folks might be misusing the service.

[2022-02-28 16:35] nataliiaprecoro commented on #88
<img width="1680" alt="image (13)" src="https://user-images.githubusercontent.com/100600075/156021360-1785ff9a-9cf2-4c3b-8d19-5da2efcf8332.png">

It seems like it doesn't work.

[2022-02-28 16:54] MartinsOnuoha commented on #88
Hey @nataliiaprecoro The API is up now

[2022-02-28 23:56] TimAagaard commented on #88
@MartinsOnuoha I would recommend implementing fail2ban to monitor your log files and ban IPs if they go over a threshold...or build it into the source code.

Something like 200 requests in a minute by same IP gives a 5 minute ban or something like that.  Something that will prevent abuse and keep the server up for everyone while rate limiting abusers and being a mild inconvenience...a 5 minute ban

[2022-03-02 17:24] MartinsOnuoha commented on #88
Hey Tim @TimAagaard, that sounds like a great idea. I had thought of setting up a rate limiter, however I also have to consider the most cost effective. I had a look at fail2ban but I’m not too sure if it would be right for us at this time, I figured we could use a 3rd party library like [express-rate-limit](https://www.npmjs.com/package/express-rate-limit).

Would you like to work on integrating

[2022-03-02 21:21] xXAvoraXx commented on #88
The API is great, I love it, is it possible to add symbols to currencies? For example, the symbol for the dollar is '$'.

[2022-03-03 18:22] TimAagaard commented on #88
@MartinsOnuoha Sure thing!  I implemented express-rate-limit last night real quick for all /api routes and I'm seeing the headers in the response...so it should be working but I'll test it out tonight.  I put the rate limiter config object in /config.  You'll have to tune that to what the server can handle and if you're behind a load balancer you'll have to increment a variable by the number of pr

[2022-03-03 18:50] MartinsOnuoha commented on #88
hey @xXAvoraXx I’m glad it’s been useful for you, symbols does sounds like an interesting idea, here’s what you can do,  create a new issue about this so we can all follow up on the possibilities of having this feature, and also not lose the conversation within this issue.

[2022-03-03 18:52] MartinsOnuoha commented on #88
Awesome!! 🏄🏼‍♂️, I’ll be on standby, let me know how it goes

[2022-03-03 18:53] xXAvoraXx commented on #88
API down again.

[2022-03-03 21:58] TimAagaard commented on #88
@MartinsOnuoha PR sent and pending your review.

All unit tests still passing.  Confirmed rate-limit by holding ctrl+shift+r in browser until I got the rate-limit response.

You might have to alter config/rateLimit.js::numberOfProxies if you're behind a load-balancer or 2.  Just increment that value by 1 until it stops breaking.  Can be tested further on your server by adding the route listed here

[2022-03-04 23:47] TimAagaard commented on #88
@MartinsOnuoha API was down again today.  Any chance of getting that PR reviewed and deployed over the weekend?

[2022-03-05 21:28] MartinsOnuoha commented on #88
Hey Tim, I’m having look at the MR right now

[2022-03-06 10:14] #88 closed

[2022-03-07 23:18] redesigned opened #90 "API Down"
Not sure if this is the correct place to report this, but the API is currently down.
<img width="445" alt="image" src="https://user-images.githubusercontent.com/351192/157134450-9a6208cd-ab7f-4781-89ea-8fc12a7551d3.png">

Thanks!

[2022-03-08 10:42] badakhgovind commented on #90
is there any update on this? when it will get resolved?

[2022-03-08 15:43] MartinsOnuoha commented on #90
Hey guys, @badakhgovind, @redesigned , thanks for reporting.
Currently we have high usage on the API, we recently implemented rate limiters to reduce the number of requests from individual APIs, thanks to @TimAagaard, however that isn't a one for all solution, I would also need to increase the dyno on heroku from 1 to 2. I'm currently considering the cost implications, but will do that within the

[2022-03-08 17:18] TimAagaard commented on #90
@MartinsOnuoha I'd hold off on that.

1)  I just broke your API, sorry.  If you run /api/v0.1/countries/population/filter with:

[code]

The app hard crashes.  I double checked locally and Node crashes.  (So if you're around and awake you should restart the app)

2) If you run the same route with the values in the documentation, it runs fine

3) If you change the year to 2020 in situation 2, the r

[2022-03-08 17:32] MartinsOnuoha opened #91 "Investigate breaking endpoints & Error handling"
Owner @TimAagaard

1)  I just broke your API, sorry.  If you run /api/v0.1/countries/population/filter with:

[code]

The app hard crashes.  I double checked locally and Node crashes.  (So if you're around and awake you should restart the app)

2) If you run the same route with the values in the documentation, it runs fine

3) If you change the year to 2020 in situation 2, the route runs forever a

[2022-03-08 17:33] MartinsOnuoha commented on #90
I’ll close this issue again and I’ve opened a new one with your comment quoted. #91

[2022-03-09 18:51] TimAagaard commented on #91
@MartinsOnuoha Just a status update.  I figured out what was wrong with the population/filter route.  you run a find() on the data  to get the population data for a specified year.  If the year isn't found, it returns undefined and crashes when you try to sort the data based on the undefined value.  I fixed this by wrapping the whole route function in a try / catch block, adding the 'next' param t

[2022-03-10 22:40] TimAagaard commented on #91
@MartinsOnuoha PR sent, pending review.  Should fix all hard crashes.  You can close this issue when deployed.  I will open new issues for deprecating POST requests while maintaining backwards compatibility and caching all requests.

If you would like to move this to TS, I'm more than game but you should create a new branch that is completely empty aside from stuff to support your CI/CD pipeline a

[2022-03-10 22:44] TimAagaard opened #93 "Deprecate POST requests and route them to GET requests"
None of the POST requests change anything so they should semantically be GET requests.

Redirecting these POST requests to parameterized GET requests will allow caching of these routes in the future while maintaining compatibility for anything built using the POST requests.

[2022-03-10 23:22] TimAagaard opened #94 "Cache all GET requests"
The back-end data hasn't changed in a long time.  There should be a decent performance boost to all routes, but particularly ones that call async data.  We could also cache the async data once upon app start.

[2022-03-13 00:11] TimAagaard commented on #93
@MartinsOnuoha what's the status of getting my pending PR merged?

I have written a Middleware that redirects all POST requests to originalUrl + '/q' and appends the body as a query string.  Then updated all POST functions to use req.query instead of req.body and replaced the POST routes with GET routes with "/q" at the end of the route.

Full backwards compatibility and all unit tests are passing

[2022-03-13 00:16] TimAagaard commented on #93
Caching will also be branched off of this PR and will be a simple single small commit.  Probably do that tomorrow.  So you could potentially just wait until that and merge that PR if you want to get everything all at once...but I'm a bigger fan of deploying in smaller pieces in case something breaks.

[2022-03-13 02:12] #91 closed

[2022-03-13 02:20] kwaisecer[bot] opened #95 "同学，您这个项目引入了569个开源组件，存在6个漏洞，辛苦升级一下"
检测到 MartinsOnuoha/countriesNowAPI 一共引入了569个开源组件，存在6个漏洞
[code]
另外还有6个漏洞，详细报告：https://mofeisec.com/jr?p=i31807

[2022-03-13 02:20] MartinsOnuoha commented on #93
Hi Tim, Great job with the last PR, seems like wrapping most of the controller methods in try/catch saved us a lot of crashing.

That PR is merged now and in master, so I think you can stash your current changes and pull the updates from master, branch out of master and unstash your changes into the new branch perhaps if that works for you (although however you find it best to create a new PR work

[2022-03-13 02:26] #95 closed

[2022-03-13 15:02] TimAagaard commented on #93
@MartinsOnuoha PR up - it is branched off of master, so it should fast-forward merge no problem

[2022-03-13 18:31] TimAagaard commented on #94
@MartinsOnuoha This probably won't get done until tomorrow.  I have some things I want to get done this weekend.

I do have it started.

I have 3 separate configs created that I added to /config/apicache.js

The cache is disabled for NODE_ENV === 'test' so that the unit tests will always work off of live data.
All debugging features are enabled for NODE_ENV === 'local' - I added this to the .env f

[2022-03-14 14:12] christianbayer opened #97 "Missing Basel-Stadt in Switzerland"
Hey there!

First of all, thank you for this awesome pack of locations. Great work! 👏

In our application, we reach to a problem with Basel city, in Switzerland. The file `model/countriesAndCities.js` has the Basel city, but we do not use this one. We use the `model/countriesStateCity.js`, which has only Basel-Landschaft Kanton, not the Basel-Stadt Kanton. Basel city (i think, as of my research, I

[2022-03-15 16:49] FANMixco opened #98 "Spain provinces issue"
There are three provinces in the States that I'd add as provinces since there is a mix between the Communities (States in our case) and the provinces. In order to minimize the double effort, I'd add the word province at the end to the following places:

- Gipuzkoa
- Biscay
- Araba Álava

Thanks for your great work!

[2022-03-16 07:53] MartinsOnuoha commented on #97
Hi Christian, thanks for reporting this inconsistency 🎉. I'll have a look into this immediately and open a PR to fix this.

[2022-03-17 08:18] MartinsOnuoha commented on #98
Hi Mixco, awesome, I think we can have a quick fix for this immediately. Thanks.

[2022-03-17 14:45] christianbayer opened #99 "Duplicated cities in Brazil"
I've detected some duplicated cities in Brazil:
| Right name (to keep) | Right ID | Wrong name (to remove) | Wrong ID |
|-|-|-|-|
| Xique-Xique | 15643 | Xique Xique | 15642 |
| Pindaré-Mirim | 13850 | Pindaré Mirim | 13849 |
| Tomé-Açu | 15335 | Tomé Açu | 15334 |
| Belém do São Francisco | 10621 | Belém de São Francisco | 10618 |
| Governador Dix-Sept Rosado | 11981 | Governador Dix Sept Rosado

[2022-03-19 17:12] #93 closed

[2022-03-19 17:13] MartinsOnuoha commented on #99
Hi Christian, thanks for pointing this out, I'll have a look at it asap

[2022-03-20 00:00] MartinsOnuoha commented on #97
So I made a bit of research and it looks like `Basel-Stadt` is also referred to as `Basel-City` and Basel-Stadt is not exactly a city, but more of a canton ( a subdivision of a country ) or even closer to a state. Since `Basel` is the capital of `Basel-Stadt` you're right, so Basel is a city within Basel-Stadt (a state/half-canton).

Here's what I think makes sense, include this example you've pro

[2022-03-20 01:15] MartinsOnuoha commented on #97
Hi Christian, @christianbayer  you can have a look at the open [PR](https://github.com/MartinsOnuoha/countriesNowAPI/pull/102) to resolve this.

[2022-03-20 08:43] MartinsOnuoha commented on #98
Hey @FANMixco we have an open PR for this issue, you can have a look before I merge it.

[2022-03-20 16:56] MartinsOnuoha commented on #99
Hi Christian, we have an open [PR](https://github.com/MartinsOnuoha/countriesNowAPI/pull/104) for this issue, please have a look if you can.

[2022-03-20 16:56] #98 closed

[2022-03-21 12:54] christianbayer commented on #97
Hi @MartinsOnuoha, i think that's it!

[2022-03-21 12:57] christianbayer commented on #99
@MartinsOnuoha that's it!

[2022-03-23 05:32] #97 closed

[2022-03-23 05:38] #94 closed

[2022-03-30 08:22] jasteyn07 opened #105 "Multiple Redirects"
Good day,

It would seem that the API for the Posts to get City with Region and Region in country has changed with more redirects than before. This looks to have changed in the past week. I use Bubble.io and the Bubble.io API, which allows for less than 10 redirects but it would seem you have more than 10. Can you confirm if changes were made and if this could be corrected as it was previously?

C

[2022-03-30 22:09] MartinsOnuoha commented on #105
Hi Jan, thanks a bunch for reporting this, unfortunately we hadn't test with curl or other clients when we added this redirect. If this is the only endpoint you found this problem on do let me know, in the meantime I'm having a look at it right away.

[2022-03-31 07:35] jasteyn07 commented on #105
Hello Martins

Thank you for your feedback and assistance.

Below are the endpoints I am struggling with. What I think is important it is only when Using post statements to the endpoint that these errors occur, when providing parameters for the search. As mentioned previously when I do this in Postman, I get the expected results, but from Bubble.io I get an error of Max Redirects. Bubble.io Suppor

[2022-04-02 06:26] MartinsOnuoha commented on #105
Hi Jan,

The change definitely came from our end, for best practices we needed to convert make our post request to idempotent but also allow for backward compatibility.
so here's what I'll do, I will revert this change and move it to feature/fix branch where we can investigate this problem internally, using Bubble as a point of reference (because really this is the only point where we've seen this

[2022-04-02 15:14] MartinsOnuoha commented on #105
@TimAagaard Do you have any suggestions about resolving this issue?

[2022-04-02 17:57] TimAagaard commented on #105
@MartinsOnuoha not sure of the solution but this is reproducible using curl.  Everything works fine in postman and the unit tests.

Command line version to reproduce is the same as @jasteyn07 first post except add `-L --max-redirs 2` to it.  I've ruled out API caching as a culprit and disabling the cookie jar in postman didn't cause the issue so assuming postmans cookie jar setting is working, it'

[2022-04-02 18:24] TimAagaard commented on #105
@MartinsOnuoha Good news - this isn't a bug...at-least not in our API.  It might be a bug in Bubble.io if they are using curl to make requests.

The problem here is the `--request POST` switch given to curl.  Remove that and it works fine.  That switch is preventing curl from switching the method to GET.  Verbose output, with that switch shows that it knows it should switch method due to the 301 r

[2022-04-04 07:38] MartinsOnuoha commented on #105
@TimAagaard thanks for the thorough investigation, @jasteyn07  as this is mostly a curl configuration problem on Bubble's end I believe you can send @TimAagaard detailed response back to the Bubble team? Perhaps this would help them with resolving the problem you're facing. For now, however, we'll close this issue, feel free to open another if necessary.

[2022-04-04 07:42] #105 closed

[2022-04-04 08:02] jasteyn07 commented on #105
Hi Martins,

Thank you for your time in investigating this. I will send this information to Bubble to have a look in seeing if they can fix this.

Best regards

[2022-04-11 12:08] MartinsOnuoha opened #107 "Enable Typescript in project"
- The idea is to help improve DX (developer experience) when contributing to the project

[2022-04-17 23:09] TimAagaard commented on #107
I was thinking we could do a rewrite from scratch and call it v1.0

Make it TypeScript, get rid of all the no-longer maintained dependencies (npm lists a bunch on a fresh install), aggregate the data into SQL tables in something like SQLite (it's stored as a local file, so no external DB server) with an ORM like Sequelize that way we could leverage the speedy lookups and filtering of a database (s

[2022-04-20 15:39] jbmoutout opened #108 "Missing Ivory Coast in countries and cities list"
Hi, thanks for this great API!
Looks like "Ivory Coast" is missing from GET `https://countriesnow.space/api/v0.1/countries`
(it does appears in the capital list tho)

[2022-04-21 23:51] #108 closed

[2022-04-21 23:53] MartinsOnuoha commented on #107
Hey Tim, yes it absolutely makes sense to aggregate the data into SQL tables in something. and a local file option like SQlite would work since the data wouldn't be growing.

[2022-05-10 22:33] MartinsOnuoha commented on #82
Hi @lpunderscore , Currently we do not have translations for the API, and yes the translation would have to be done manually for each state/provinces

[2022-05-12 08:14] pmutshipayi opened #110 "Unable to get cities by state when the state name contain the word state"
When trying to get cities by state, if the state name contains the word `state` the request fail with error  `state not found`

Example 1:

https://countriesnow.space/api/v0.1/countries/state/cities
payload
[code]

Example 1:

https://countriesnow.space/api/v0.1/countries/state/cities
payload
[code]
response:
[code]
<br /><br /> <br />

Example 2:

https://countriesnow.space/api/v0.1/countries/sta

[2022-05-12 09:27] MartinsOnuoha commented on #110
Hi @pmutshipayi , Thanks for reporting this bug, apparently we were formatting payload that includes "state". Mostly because not a lot of state names end with "state", I guess we forgot free state was a state (lol). I've opened a new MR to resolve this problem. Feel free to have a look and approve it.

[2022-05-12 13:11] #110 closed

[2022-05-26 11:01] SaraShoukry commented on #82
sorry but i didn't complete the translation task

[2022-06-13 23:49] MartinsOnuoha commented on #82
That's alright, let me know if you still want to do this, else we can close this issue.

[2022-07-21 21:57] johnexzy opened #112 "Inconsistent "state" suffix across states in NIGERIA"
Although several issues have been fixed around this niche, I think Lagos should have a ``state`` suffix like other states in Nigeria to please data consistency.

The entry point to easily solving this should be on the datastore [here](https://github.com/MartinsOnuoha/countriesNowAPI/blob/45d7d60eacb4ccebf8214c3eb87027a44d45988f/model/countriesAndState.js#L16324)

[2022-11-21 15:25] knityanand opened #114 "Duplicate City Names"
Cheers for a very useful set of API's.

However, There are some cities which are getting duplicated. e.g.

For the below API
https://countriesnow.space/swagger-docs/#/Cities/post_state_cities with the below data
{
  "country": "India",
  "state": "Telangana"
}

And the result, I see that some cities are getting duplicated e.g.

"Hyderabad",
"Hyderābād",

One more e.g for the same API with the belo